html, body{
    height: 100%;
}

body{
    background-image: linear-gradient(180deg, #fd83ee 0, #e876f0 12.5%, #ce69f1 25%, #b05df2 37.5%, #8953f2 50%, #534bf2 62.5%, #0047f3 75%, #0045f3 87.5%, #0044f2 100%);
}

.wrapper{
    width: 100%;
    height: 100vh;
    flex-direction: column;
}

.container .row{
    width: 100%;
    margin: 0;
}

.card{
    border-radius: 15px;
    background: #ffffffbd;
    padding: 15px;
    align-items: center;
}

.card-header{
    background: transparent;
}

.card-body{
    margin-top: 20px;
}

.input-group{
    margin-bottom: 25px;
}

.icon-input{
    height: 33px;;
}

.input-group-prepend{
    margin-top: -4px;
}

.input-group-text {
    border: 0;
    background: #8f2f85;
    color: #f2e52b;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.form-control:focus{
    box-shadow: none;
    border-color: #7294e8;
}

.form-group .btn{
    width: 100%;
    background-color: #f2e52b;
    border-color: #f2e52b;
    color: black;
    font-weight: 900;
    margin-bottom: 10px;
}

.form-group .btn:hover{
    background-color: #e8dc2f;
    box-shadow: none;
}

#register{
    color: #0145f3;
    font-weight: 600;
}

.modal-title{
    font-weight: 600;
}

.alert-success{
    background: #5dffa2;
}

.alert-danger{
    background: #ff9b98;;
}

.alert-success, .alert-danger{
    margin-top: 20px;
    margin-bottom: 0;
}

